* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

:root {
  --redColor: #c30f16;
  --springGreen: #146b3a;
}

body {
  padding: 10%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown-wrapper {
  width: 700px;
  max-width: 100%;
  text-align: center;
}

.countdown-wrapper > p {
  color: var(--springGreen);
  font-weight: 500;
}

.countdown-wrapper > h1 {
  font-size: 65px;
  margin: 10px;
  color: #fff;
  /* text-shadow: -1px -1px 0 #0000003f, 1px -1px 0 #0000003f, -1px 1px 0 #0000003f,
    1px 1px 0 #0000003f; */

  -webkit-text-stroke: 1px #7788995a;
}

.countdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.countdown-container .countdown {
  padding: 10px;
  box-shadow: 1px 1px 15px #a9b0b838;
  border-radius: 5px;
  width: fit-content;
}

.countdown-container .countdown p {
  min-width: 80px;
  padding: 10px 0;
  font-size: 22px;
  background-color: #f0f0f0a2;
  border-radius: 5px;
  color: var(--redColor);
}

.countdown-container .countdown span {
  font-size: 12px;
}

.snowfalls {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("fireworks-15757_256.gif") no-repeat center / cover;
  animation: roll 6s linear infinite;
  display: none;
}

body.active {
  overflow-y: hidden;
}

.happynewyear img {
  width: 50%;
  top: 0;
  animation: fade 5s linear infinite;
  animation-delay: 0.3s;
}

.happynewyear {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

body.active .happynewyear {
  display: block;
}

body.active .snowfalls {
  display: block;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button {
  position: fixed;
  z-index: 100;
  padding: 10px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
}
